 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Über mich</h2>
                    <!--<div class="seperator"></div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4">
                    <img src="img/image1_crop.jpeg" class="img-responsive">
                </div>
            </div>
        </div>
    </section>
