<!-- Contact Section -->
   <section id="contact">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h2>Contact me</h2>
                   <div class="seperator"></div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                 <div id="disqus_thread"></div><!-- /#disqus_thread -->
               </div>
           </div>
       </div>
   </section>
