 <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Kontakt</h2>
            <div class="seperator"></div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <p>
                    {% for adress in site.address %}
                        {{ adress.line }} <br>
                    {% endfor %}
                </p>
                <ul class="list-inline text-center"">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fab fa-fw fa-{{ network.title }}"></i></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
      </div>
    </section>
