    <!-- Footer -->
    <footer class="text-center">
      <!--
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
      -->
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                    <div class="col-lg-4">
                      <a href="/impressum/">Impressum</a>
                    </div>
                    <div class="col-lg-4">
                      <a href="/datenschutz/">Datenschutz</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
