 <!-- Contact Section -->
    <section id="partner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Partner</h2>
            <div class="seperator"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <h3>Körperverwandlung</h3>
            <a href="https://koerperverwandlung.de/schritte-challenge/">
            <p>Schritte-Challenge</p>            
            <img src="img/koerperverwandlung.de.jpeg" class="img-responsive">
            <img src="img/koerperverwandlung.de-schritte-challenge.jpeg" class="img-responsive">
            </a>
          </div>
        </div>
      </div>
    </section>
