<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    <hr>
    {% include portfolio_grid.html %}
    <hr>
    {% include about.html %}
    <hr>
    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% elsif site.contact == "php" %}
    {% include contact.html %}
    {% elsif site.contact == "custom" %}
    {% include contact_custom.html %}
    {% endif %}
    <hr>
    {% include partner_custom.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
